name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        python train.py  # Test training script
        pip install -r requirements.txt
        pip install matplotlib
        echo "import matplotlib; matplotlib.use("Agg")" > matplotlibrc
    - name: Lint with flake8
      run: |
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics --ignore=E501  # Ignore long lines if needed
    - name: Test with pytest
        python train.py  # Test training script
      run: |
        pytest
        python train.py  # Test training script
